<div class="column-flex">
	<h1 class="header-ele"><%= userName.toUpperCase() %></h1>
	<h4 id="header-separator" class="header-ele">&nbsp|&nbsp</h4>
	<h1 class="header-ele" id="clock"></h1>	
</div>
<hr class="uk-divider-icon">
