<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie-edge">
<meta name="viewport" href="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="emJdRrsoTU5-xzTP1AdBvlXzZJfOVM1QkpWiFJx9zks" />
<link type="text/css" href="/css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
<link rel="stylesheet" href="../../dist/css/uikit.min.css" />
<script src="../../dist/js/uikit.min.js"></script>
<script src="../../dist/js/uikit-icons.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.4.2/lazyload.min.js"></script>

<title>Peak Your Performance</title>
