
<div class="uk-position-relative main-container">
    <form id="login-button" action="/google" method="GET">
		<button id="main-buttons" class="uk-button uk-button-danger" type="submit">Login <i id="google-plus-icon" class="fab fa-google-plus"></i></button>
    </form>
<div id="view-space" class="container">
    <!-- <p>Peak Your Performance</p> -->
    <ul class="uk-list uk-list-divider">
    	<% typeof googleMail === 'object' ? googleMail.forEach(function(message){ %>
    		<div class="uk-card-body">
    			<li class="uk-card">-->&nbsp<%= message%></li>
    		</div>
    	<%	}) : googleMail%>
    </ul>
	<button id="view-space-button" class="uk-button uk-button-primary" onclick="makeFullScreen('view-space')" type="button">Full-Screen</button>
</div>    
