<div class="uk-position-relative main-container">
    <form id="login-button" action="/google" method="GET">
		<button id="main-buttons" class="uk-button uk-button-danger" type="submit"><i id="google-plus-icon" class="fab fa-google-plus"></i>  Login</button>
	</form>
<% if(typeof googleMail === "object") { %>
<div uk-grid id="view-space" class="container widen">
	<div id="nav">
		<button id="view-space-button">Toggle Screen</button>
		<div id="stick-switcher" class="uk-width-small@m">
			<ul id="nav-ul" class="uk-nav uk-nav-default" uk-switcher="connect: #component-nav; animation: uk-animation-fade; toggle: > :not(.uk-nav-header)">
				<li class="nav-buttons"><a><h3>G-Mail</h3></a></li>
				<li class="nav-buttons"><a><h3>Dev Docs</h3></a></li>
				<li class="nav-buttons"><a><h3>Job Search</h3></a></li>
			</ul>
		</div>
	</div>
    <div id="content-holder" class="uk-width-expand@m">
        <ul id="component-nav" class="uk-switcher">
	        <div>
	            <div id="email-top" class="uk-heading-line uk-text-center"><u>Emails</u></div>
	            <ul class="uk-list uk-list-divider">
			    	<% googleMail.forEach(function(message){ %>
			    		<div class="uk-card-body">
			    			<li id="mail-item" class="uk-card" uk-toggle="target: #email-modal">
				    			<u><%= message.date%></u>
				    			<br></br>
				    			<%= message.snippet%>
				    		</li>
				    		<div id="email-modal" uk-modal>
							    <div id="email-display" class="uk-modal-dialog uk-modal-body">
							        <h2 class="uk-modal-title">Headline</h2>
							        <p><%= message.fullText%></p>
							        <p class="uk-text-right">
							            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
							            <button class="uk-button uk-button-primary" type="button">Save</button>
							        </p>
							    </div>
							</div>
			    		</div>
			    	<%	}) %>
			    </ul>
			</div>
			<div>
				<iframe id="dev-docs-iframe" src="https://devdocs.io/" title="iframe example 1" width="1000" height="630" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
					<p>Iframes Are Not Supported For This Browser</p>
				</iframe>
			</div>
			<div>
				<form id="job-search-form">
					<fieldset class="uk-fieldset">
						<input class="uk-input job-search-input" name="description" placeholder="Enter Job Position">
						<input class="uk-input job-search-input" name="location" placeholder="Enter Job Location">						 
			            <label><input class="uk-checkbox job-search-input" type="checkbox"> Github Jobs</label>
			            <label><input class="uk-checkbox job-search-input" type="checkbox"> Glassdoor</label>
			        </fieldset>
					<input id="get-jobs-button" class="uk-button uk-button-primary" type="submit" value="Get Jobs">	
				</form>
				<ul id="job-search-results"></ul>
			</div>            
        </ul>
    </div>
</div>
<% } else { %>
	<div uk-grid id="view-space" class="container"><h1 id="default-text"><%= googleMail %></h1></div>
<% }%>