body {
	margin: 0;	
    flex-direction: column;
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
body, footer, main, .nav-container, .container, .footer-container {
	display: flex;
    justify-content: center;
    align-items: center;
}
button, input {
	border: 1.5px solid #1c1c1c;
}
footer {
    position: absolute;   
    bottom: 0px;
    width: 100%;
}
form {
    margin: 0;
    margin-right: 5px
}
div > p {
    color: #1c1c1c;
}
h1, p, label {
    color: #fafafa;
}
h1 {
    font-size: 5em;
    font-weight: bolder;
    text-shadow: 0px 10px 10px #111414;
}
hr {
    margin: 0;
    width: 100%;
    mix-blend-mode: difference;
}
header {
    position: absolute;
    top: 0em;
}
li {
    color: #fafafa;
    border-bottom: 1px solid #fafafa;
}
li.uk-active {
    background-color: #fafafa;
    padding-left: 5px;
}
main {
    position: fixed;
    height: 70%;
    width: 70%;
    bottom: 8.3%;
}
ul {
    height: 42em;
}
ul>li>ul {
    height: auto;
}
#default-text, #email-top {
    color: #fafafa;
}
#email-display {
    width: 80%;
}
#email-top {
    font-size: 2em;
}
#header-separator {
    color: #1c1c1c;
}
#job-search-form {
    margin: 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
}
#login-button {
    display: block;
    position: fixed;
    top: 9%;
    left: 45.6%;
}
#mail-item {
    font-size: 1.3em;
    font-weight: 900;
}
#main-buttons {
    color: #1c1c1c;
    mix-blend-mode: luminosity;
    font-weight: bolder;
    font-size: 1.4em;
    width: 6.2em;
    padding: 0px;
}
#stick-switcher {
    position: sticky;
    top: 4em;
}
#view-space {
    margin: 0;
}
#view-space-button {
    width: 7em;
    position: absolute;
    top: 1%;
    left: 2.4em;
    color: #fafafa;
    background: #BE0032;
    border: 1px solid #fafafa;
    z-index: 1;
    outline: none;
    padding: 6px;
    font-size: 1em;
    font-weight: 900;
}
.column-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.header-ele {
	margin: 0;
	color: #fafafa;
    font-size: 3.8em;
    font-weight: bolder;
    text-shadow: 0px 10px 10px #1c1c1c;
}
.main-container {
	width: 100%;
    height: 100%;
}
.container {
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%; 
    overflow-y: scroll;
}
.footer-container {
	background-color: rgba(0,0,0,0.6);
    height: 3em;
    width: 100%;
   
}