<!DOCTYPE>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body onload="startTime()">

<header>
    <% include partials/header %>
</header>

<main>
	<% include partials/main %>
</main>

<footer>	
    <% include partials/footer %>
</footer>
<script type="text/javascript">
	let randNum = Math.floor(Math.random() * 44) + 1
	
	document.getElementsByTagName("body")[0].style.backgroundImage = "url(../images/image"+ randNum +".jpg)"
	function startTime() {
	    let today = new Date(),
	    	hours = today.getHours(),
	    	minutes = today.getMinutes(),
	    	seconds = today.getSeconds();
	    minutes = minutes < 10 ? `0${minutes}` : minutes;
	    seconds = seconds < 10 ? `0${seconds}` : seconds;	    
	    document.getElementById('clock').innerHTML =`${hours}:${minutes}:${seconds}`;
	    setTimeout(startTime, 500);
	}
</script>
</body>
</html>